<ion-content class="welcome_background">

    <ion-grid>
        <ion-row>
            <ion-col>
                <div style="width:auto;height:25px;"></div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-img src="/assets/img/auris_logo.png"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button expand="full" href="/login">Iniciar sesión</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button expand="full" href="/signup">Registrarse</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>