<ion-header>
    <ion-toolbar>
        <ion-title>REGISTRARSE</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img src="/assets/icon/icon_login.png"></ion-img>

    <ion-grid style="padding: 0px 0px; bottom: 0px; left: 0px;">
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="fixed">Nombre</ion-label>
                    <ion-input type="text"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="fixed">Edad</ion-label>
                    <ion-input type="number"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="fixed">Sexo</ion-label>
                    <ion-input type="number"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="fixed">Cuidad</ion-label>
                    <ion-input type="text"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="fixed">Email</ion-label>
                    <ion-input type="email"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="fixed">Contraseña</ion-label>
                    <ion-input type="password"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button expand="full" href="/signup">Registrarse</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>



</ion-content>